<div class="group" data-controller="ui--tabs">
  <div
    role="tablist"
    aria-orientation="horizontal"
    class="h-auto items-center justify-center  bg-gradient-to-bl from-[#ffe4e6] to-[#ccfbf1] p-2 text-muted-foreground grid w-full grid-cols-6"
    tabindex="0"
    data-orientation="horizontal"
    style="outline: none">
    <%= content_for :tab_list %>
  </div>

  <%= content_for :tab_panels %>
</div>
