<a href="/" class="flex gap-2 justify-between items-center p-3 text-xs border border-gray-200 rounded-lg bg-white backdrop-blur-sm overflow-hidden hover:shadow-2xl transition-all mb-2">
          <div class="flex gap-3 items-center">
            <span class="text-brand"><%= render 'icons/payment' %></span>
            <div class="flex flex-col">
              <span class="text-black text-sm">Bulk Update</span>
              <span class="text-gray-500">Payment Plan</span>
            </div>
          </div>
          <span class="text-gray-400"><%= render 'icons/arrowRight' %></span>
        </a>
        <a href="/" class="flex gap-2 justify-between items-center p-3 text-xs border border-gray-200 rounded-lg bg-white backdrop-blur-sm overflow-hidden hover:shadow-2xl transition-all">
          <div class="flex gap-3 items-center">
            <span class="text-brand"><%= render 'icons/payment' %></span>
            <div class="flex flex-col">
              <span class="text-black text-sm">Conditional Update</span>
              <span class="text-gray-500">Payment Plan</span>
            </div>
          </div>
          <span class="text-gray-400"><%= render 'icons/arrowRight' %></span>
        </a>