<footer class="mt-8">
   <div class="flex justify-between items-center">
      <p class="text-xs text-gray-400">&copy; 2025 Corelto.com | <span class="underline">Terms of Use</span></p>
    </div>
    
</footer>