<ol class="flex justify-end gap-1 text-xs font-medium mt-4">
  <li>
    <% if pagy.prev %>
      <%= link_to(
        pagy_url_for(pagy, pagy.prev),
        class: "inline-flex size-8 items-center justify-center rounded border border-gray-100 bg-white text-gray-900 rtl:rotate-180",
        'aria-label': 'Prev Page'
      ) do %>
        <span class="sr-only">Prev Page</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="size-3" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
        </svg>
      <% end %>
    <% else %>
      <span class="inline-flex size-8 items-center justify-center rounded border border-gray-100 bg-gray-50 text-gray-400 cursor-not-allowed">
        <span class="sr-only">Prev Page</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="size-3" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
        </svg>
      </span>
    <% end %>
  </li>
  
  <% 
    visible_pages = []
    
    visible_pages << 1
    
    start_page = [pagy.page - 1, 2].max
    end_page = [pagy.page + 1, pagy.pages - 1].min
    
    visible_pages << :gap if start_page > 2
    
    (start_page..end_page).each { |p| visible_pages << p }
    
    visible_pages << :gap if end_page < pagy.pages - 1
    
    visible_pages << pagy.pages if pagy.pages > 1
    
    visible_pages.uniq!
  %>
  
  <% visible_pages.each do |item| %>
    <% if item.is_a?(Integer) %>
      <li>
        <%= link_to(
          item,
          pagy_url_for(pagy, item),
          class: "block size-8 rounded border #{item == pagy.page ? 'border-blue-600 bg-blue-600 text-white' : 'border-gray-100 bg-white text-gray-900'} text-center leading-8"
        ) %>
      </li>
    <% elsif item == :gap %>
      <li class="block size-8 text-center leading-8 text-gray-400">...</li>
    <% end %>
  <% end %>
  
  <li>
    <% if pagy.next %>
      <%= link_to(
        pagy_url_for(pagy, pagy.next),
        class: "inline-flex size-8 items-center justify-center rounded border border-gray-100 bg-white text-gray-900 rtl:rotate-180",
        'aria-label': 'Next Page'
      ) do %>
        <span class="sr-only">Next Page</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="size-3" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
        </svg>
      <% end %>
    <% else %>
      <span class="inline-flex size-8 items-center justify-center rounded border border-gray-100 bg-gray-50 text-gray-400 cursor-not-allowed">
        <span class="sr-only">Next Page</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="size-3" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
        </svg>
      </span>
    <% end %>
  </li>
</ol>
